<%= form_for(@question, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new question..." %>
    </div>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>