<header class="navbar navbar-fixed-top navbar-inverse navbar-custom">
  <div class="container">
    <%= link_to "study hall", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to t(".hello", default: "Hello,") + " #{current_user.name}", user_path(current_user), :class => 'navbar-link' %> </li>
            <li><%= link_to t(".profile", default: "Profile"), edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li><%= link_to t(".log_out", default: "Log out"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
        <% else %>
            <li><%= link_to t(".sign_in", default: "Sign in"), new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>