<!DOCTYPE html>
<!--<%= content_tag :html, class: class_for do %>-->
    <html>
<head>
  <title>StudyHallWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<%= content_tag :body, class: class_for do %>
    <%= render 'layouts/header' %>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <!--<%= render 'layouts/footer' %>-->
<!--<% end %>-->
<% end %>
</html>